
<div class="container">
  <div class="mycard mx-auto"  style="width: 1000px;">
    <div class="card-body col-sm-9">
      <ul class="tab-list list-unstyled">
            <li class="mytab mytab-active">
              <%= "支出" %>
            </li>
            <li class="mytab">
              <%= "収入" %>
            </li>
      </ul>
     
      <h4 class="card-title"></h4><br>
      <h5 class="card-text">
      <div>
        <div class="mytabbox mybox-show ">
          <%= render 'layouts/month_outcome' %>
        </div>
        <div class="mytabbox">
          <%= render 'layouts/month_income' %>
        </div>
      </div>
    </div>
  </div>
<br>