<div class="mx-auto" style="width: 900px;">
  <h1>支出の記録</h1>

  <br>
  <h2>メモ  <%= @outcome.memo %></h2>
  <h2>¥    <%= @outcome.price.to_s(:delimited) %></h2>
  <br>
  <div>
    <%= image_tag @outcome.image.thumb.url, class:"center" %>
  </div>

  <div>
    <%= link_to "編集する", edit_outcome_path(@outcome.id), class:"link-btn new" %>
  </div>
</div>