/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kiwi+Maru&family=RocknRoll+One&family=Zen+Kurenaido&family=Zen+Maru+Gothic&display=swap');
@import 'bootstrap';

body {
  margin: 0;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #FCF9F1;
}

.card {
  height: 70vh;
}
.card-title,.card-text {
  text-align: center;
}

 // タブ切り替え
.tab-list {
  display: flex;
}
.tab {
  width: 50%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  text-align: center;
  background-color: #FFFAB7;
}
.tab:first-child {
  border-left: none;
}
 // タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #7AA2E3;
  transition: all 0.2s ease-in-out;
}
 // タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
 // box-showクラスのものだけ表示
.box-show {
  display: block;
}
 // hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


 // =====


.tabtab {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 120px;
}

 /* タブメニュー */
.tab__menu {
  display: flex;
  align-items: flex-end; /* メニューを下揃え&高さを調整 */
  justify-content: center;
  min-height: 50px; /* メニュー切替時にタブがズレないように */
  padding: 0;
  margin: 0;
}

.tab__menu-item {
  list-style: none;
  width: 200px;
  padding: 8px 5px; /* メニューに高さを付ける */
  text-align: center;
  margin-right: 6px;
  background-color: #FFFAB7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: all .3s; /* アニメーション */
}

.tab__menu-item:last-of-type {
  margin-right: 0px;
}

 /* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
  background-color: #7AA2E3;
  color: #FFF;
  padding: 12px 5px;
}

 /* タブパネル */
.tab__panel {
  width: 100%;
}

.tab__panel-box {
  min-height: 400px; /* テキスト量が多くなっても対応できるように */
  padding: 10px 30px;
  border-radius: 10px;
}

.tab__panel-box001 {
  background-color: rgb(205, 246, 246);
  display: none;
}

.tab__panel-box002 {
  background-color: #CBEDF5;
  display: none;
}

.tab__panel-box003 {
  background-color: rgb(200, 248, 195);
  display: none;
}

  /* is-showがついている時のスタイル */
.tab__panel-box.is-show {
  display: block;
}