<footer>
  <div class="mycard">
    <% if current_user.present? %>
      <div class="col-sm-12 text-right"><%= link_to 'ログアウトはこちらから', destroy_user_session_path, method: :delete, class: "logout-color" %></div>
    <% end %>
  </div>
</footer>