<header>
  <% if current_user %>
    <p><%= current_user.name + "さん専用ノート" %></p>
    <div class="td"><%= link_to 'ログアウトはこちらから', destroy_user_session_path, method: :delete  %></div>
  <% else %>
    <div><%= link_to 'ログイン', new_user_registration_path %></div>
  <% end %>
</header>